{% extends 'base.html' %}

{% block content %}
<h1>{{ book.title }}</h1>
<p>{{ post.isbn }}</p>
<hr>
<h2 id="comments">Review</h2>
{% for Review in book.review_set.all %}
<b>{{ review.id }}</b> said <b>{{ comment.creator_id|timesince }} ago</b>
<p>{{ review.content }}</p>
{% empty %}
<p>Feel free to leave the first comment!</p>
{% endfor %}
<hr>
<h3>Add a comment</h3>
<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
</form>
{% endblock %}